@font-face {
	font-family: roboto-regular;
	src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: roboto-black;
	src: url(../fonts/roboto/Roboto-Black.ttf);
}
@font-face {
	font-family: roboto-medium;
	src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
	font-family: montserrat-extra-bold;
	src: url(../fonts/montserrat/MontserratAlternates-ExtraBold.otf);
}

header, html, body, div {
	margin: 0;
	padding: 0;
	cursor: default;
} 
p, h1, h2, h3 {
	margin: 0;
	padding: 0;
 }

$hover-text-color: #58beff; 
$text-color: #fff;

/****** header *****/

#landing-page {
	background-image: url("../image/header-background.png");
	// background-color: #ccc;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;	
}

.main-container {
	max-width: 1170px;
	margin: auto;
	padding: 0 15px;
}
// .header-outer {
// 	width: 100%;
// 	background-color: #1a254c;
// }
header {
	padding: 30px 0;
	width: 100%;
	// position: fixed;
	// z-index: 9999;
	display: flex;
	justify-content: space-between;
}

.header-logo {
	height: 37px;
	cursor: pointer;
}
.header__menu-inner {
	display: inline-block;
}
.header__menu-link {
	display: inline-block;
	font-family: roboto-regular;
	font-size: 20px;
	text-align: left;
	text-decoration: none;
	line-height: 1.5;
	color: $text-color;
	margin-left: 10px;
	padding-right: 5px;
	cursor: pointer;
}
.header__menu-link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: $hover-text-color;
    transition: width 200ms ease-in-out;
}
.header__menu-link:hover:after,
.header__menu-link:focus:after {
    width: 100%;
}
.header__menu-link:hover {
	color: $hover-text-color;
}
.header__contact-us-button {
	border: 1px solid $hover-text-color;
	border-radius: 40px;
	font-family: roboto-regular;
	font-size: 20px;
	padding: 10px 35px;
	margin-left: 20px;
	background: transparent;
	color: #fff;
	cursor: pointer;
	transition: 0.25s;
}
.header__menu-outer {
	z-index: 4;
}
.header__burger-menu {
	display: none;
	cursor: pointer;
}
.header__burger-menu-item {
	background-color: #fff;
	width: 35px;
	height: 3px;
	margin: 6px 0;
	padding: 0;
	transition: .25s;
	list-style: none;

}
#header__burger-menu-item {
	padding: 0;
} 
.header__burger-menu-item__activate {
	list-style: none;
	transition: .25s;
	background: #fff;
	height: 5px; 
	width: 0px;
	position: fixed;
	right: 15px;
	top: 25px; 
	transform: rotate(45deg);
	z-index: 4;
}
.header__burger-menu-item__activate:after {
	content: "";
	background: #fff;
	height: 40px; 
	width: 5px;
	position: absolute; 
	left: 17px; 
	top: -18px;
}
@media(max-width: 975px) {
	.header__burger-menu {
		display: inline-block;
		// position: fixed;
	}	
	.header__contact-us-button {
		display: none;
	}
	.header__menu-link {
		display: none;
	}
}

.language-menu {
	// width: 90%;
	// margin: auto;
	text-align: right;
	position: relative;
}

.language-menu-inner {
	display: inline-block;
}
.language-menu__simbol {
	color: #fff;
	font-size: 12px;
	cursor: default;
}
.language-menu__link {
	display: inline-block;
	font-family: roboto-regular;
	font-size: 12px;
	color: $text-color;
	text-decoration: none;
	padding: 0 4px;
}
.language-menu__link:after {
		display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: $hover-text-color;
    transition: width 200ms ease-in-out;
}
.language-menu__link:hover:after,
.language-menu__link:focus:after {
	width: 100%;
}
.language-menu__link:hover {
	color: $hover-text-color;
}
.landing-page {
	height: 770px;
	margin: auto;
	position: relative;
	z-index: 1;
}
.landing-page__menu__activeted {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 48, 100, .9);
	z-index: 3;
}
.landing-page__menu__activeted > .landing-page-content__menu__activeted > li {
	list-style: none;
}
.landing-page__menu__activeted >.landing-page-content__menu__activeted > li > a {
	display: block;
	font-family: roboto-black;
	font-size: 40px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
.landing-page-content__menu__activeted {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.landing-page__title {
	padding-top: 100px;
	font-family: roboto-black;
	font-size: 50px;
	text-transform: uppercase;
	color: $text-color;
}
.landing-page__text {
	max-width: 600px;
	padding: 50px 0 115px 0;
	font-family: roboto-regular;
	font-size: 20px;
	color: $text-color;
}
.landing-page__button {
	font-family: montserrat-extra-bold;
	font-size: 25px;
	background-color: #58beff; 
	color: #000;
	border-radius: 50px;
	border: none;
	padding: 24px 40px;
	cursor: pointer;
	transition: 0.25s;
}

.landing-page_arrow-down{
  text-decoration: none;
  background-color: transparent;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  display: inline-block;
  height: 60px;
  position: absolute;
  transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
  width: 60px;
  left: 50%;
  bottom: 90px;
  cursor: pointer;
  animation: landing-page__arrow-down 1.5s ease-in-out infinite;
  z-index: 2;
}

@keyframes landing-page__arrow-down {
	50% {
		bottom: 45px;
	}
	100% {
		bottom: 90px;
	}
}
/****** header END *****/
.mission-outer {
  background: linear-gradient(to right, #f4f4f4 40%,#1a254c 60%);
}
.mission-inner {
	display: flex;
}
.mission-description-outer {
	width: 40%;
	background-color: #f4f4f4;
	transition: 1s;
}
.mission-description-inner {
	max-width: 575px;
	transition: 1s;
}
.mission-description__title-1 {
	font-family: roboto-black;
	font-size: 40px;
	text-transform: uppercase;
	color: #1a254c;
	padding: 30px 30px;
}
.mission-description__title-2 {
	font-family: roboto-medium;
	font-size: 24px;
	color: #000;
	padding: 0px 30px;
	padding-bottom: 30px;
}
.mission-description__text {
	font-family: roboto-regular;
	font-size: 14px;
	line-height: 1.4;
	color: #000;
	padding: 8px 30px;
}
.art-title {
	font-family: roboto-black;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;	
	position: absolute;
	cursor: pointer;
} 
.mission-content-inner {
	max-width: 595px;
	padding: 28px 0;
	position: relative;
}
.art-title-1 {top: 195px; left: -55px; text-align: right}
.art-title-2 {top: 260px; left: -63px; text-align: right}
.art-title-3 {top: 340px; left: -38px; text-align: right}
.art-title-4 {top: 195px; right: 22px; text-align: left}
.art-title-5 {top: 274px; right: 14px; text-align: left}
.art-title-6 {top: 348px; right: 22px; text-align: left}
.mission-content-outer {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1a254c;
	position: relative;
	// background-image: url(../image/art.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.mission-content__image {
	width: 426px;
}
.mission-content__title {
	font-family: roboto-black;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.mission-content__button {
	font-family: montserrat-extra-bold;
	font-size: 30px;
	color: #000;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	background-color: #58beff;
	padding: 18px 40px;
	position: absolute;
	bottom: 60px;	
	cursor: pointer;
	transition: 0.25s;
	z-index: 1;
}
@media(max-width: 975px) {
	.mission-outer > .main-container {
		padding: 0;
	}
	.mission-inner {
		display: block;
	}
	.mission-description-outer {
		width: 100%;
		background-color: #f4f4f4;
	}
	.mission-description-inner {
		margin: auto;
	}
	.mission-content-outer {
		width: 100%;
		height: 485px;
	}
	.mission-outer {
		background: none;
	}
	.mission-content__button {
		font-size: 18px;
		bottom: 25px;
	}
	.mission-content__title {
		font-size: 28px;
	}
	.art-title-1 , .art-title-4 { 
		top: 180px;
	}
	.art-title-2 , .art-title-5 { 
		top: 260px;
	}
	.art-title-3 , .art-title-6 { 
		top: 340px;
	}
	.art-title {
		font-size: 9px;
	}
}

/***** mission END *****/

/***** business *****/
.business {
	// width: 90%;
	// margin: auto;
	position: relative;
	padding-bottom: 70px;
}
.business__title {
	font-family: roboto-black;
	font-size: 40px;
	color: #000;
	padding: 40px 0;
}
.business__uniqe-title {
	color: #101446;
}
.business__text {
	font-family: roboto-regular;
	font-size: 20px;
	color: #292f36;
	padding: 5px 0;
}
.business__item-outer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 90%;
	margin: auto;
}
.business__item {
	width: 420px;
	background-color: #f4f4f4;
	text-align: center;
	box-shadow: 0 0 22px 5px #f4f4f4;
	padding: 10px 0;
	margin-top: 100px;
	transition-duration: 1s;
}
.business__item:hover {
	transform: translateY(-30px);
	background-color: #fff;
	cursor: pointer;
}

.business__item-image {
	width: 220px;

	margin: auto;
}
.business__item-title {
	font-family: roboto-black;
	font-size: 20px;
	color: #292f36;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0 40px 0;

}
.business_item-uniqe-title {
	color: #0091be;
}
.business__item-text {
	font-family: roboto-regular;
	font-size: 18px;
	color: #292f36;
	text-align: left;
	padding: 10px 45px;
}
/***** business END*****/

/***** marketing *****/

//    marketing__slide-1
.marketing {	
	position: relative;
	background: linear-gradient(45deg, #283978, #31499b);
}
.marketing-outer {
	padding: 60px 0;
}
.marketing-inner {
	position: relative;
	margin: auto;
}
.marketing__title {
	font-family: roboto-black;
	font-size: 40px;
	color: #fff;
	padding: 10px 0 60px 43px;
}
.target-clients {
	display: flex;
	flex-direction: column;
}
.target-clients__title {
	font-family: roboto-black;
	font-size: 23px;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 14px 43px;
}
.target-clients__outer {
	// width: 670px;
	border: 3px solid #42ffff;
	border-radius: 20px;
	// padding: 10px 10px;
}
.target-clients__inner {
	padding: 0px 34px;
	margin: 0;
}
.target-clients__circle {
	color: #42ffff;
	font-family: roboto-regular;
	font-size: 23px;
	padding: 12px 0;
}
.target-clients__content {
	color: #fff;
}
.marketing-content {
	display: flex;
	padding: 70px 0 0 0;
}
.marketing-content__form {
	width: 60%;
}
.marketing-art-outer {
	width: 40%;
}
.marketing-art-inner{
	width: 331px;
}
.marketing-content__title {
	font-family: roboto-regular;
	font-size: 26px;
	color: #fff;
	padding: 10px 0 45px 41px;
}
.marketing-content__outer {
	padding: 0 0 0 35px;
}
.marketing-content__text-inner {
	font-family: roboto-regular;
	font-size: 20px;
	color: #fff;
	position: relative;
	list-style: none;
	padding-bottom: 30px;
}
#point {
	position: absolute;
	left: -35px;
	width: 25px;
	height: 25px;
	background-size: contain;
}
@media(max-width: 975px) {
	.marketing-content {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.marketing-content__form {
		width: 100%
	}
	.marketing-art-outer {
		width: 100%;
		text-align: center;
	}
}
// marketing__slide-2
.marketing-slider__slide-2 > .main-container {
	padding: 60px 0px;
}
.marketing-slide-2-inner {

}
.marketing-slide-2__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.content__title {
	font-family: roboto-black;
	font-size: 23px;
	text-transform: uppercase;
	color: #fff;
}
.content__list {
	padding: 35px 0;
}
.marketing-slide-2__content-energy,
.marketing-slide-2__content-infrastructure,
.marketing-slide-2__content-agro {
	max-width: 410px;
	padding: 0 20px
}
.marketing-slide-2__content-agro {
	margin-top: 50px;
	max-width: 500px
}

.content__energy-title:before {
	content: "";
	padding: 10px 20px;
	background-image: url("../image/electricity-shape.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.content__infrastructure-title:before {
	content: "";
	padding: 10px 26px;
	background-image: url("../image/infrastucture-shape.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.content__agro-title:before {
	content: "";
	padding: 17px 42px;
	background-image: url("../image/agro-shape.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.content__list-item {
	position: relative;
	font-family: roboto-regular;
	font-size: 20px;
	color: #fff;
	padding: 10px 0;
	list-style: none;
}
// .content-energy__list-item:before {
// 	content: "";
// 	padding: 30px 30px;
// 	background-image: url("../image/point.png");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }

//     marketing-slider
.marketing-slider__slide-1 > .main-container {
	padding: 0 80px;
}
.marketing-slider__item {
	width: calc(100% /2);
	display: inline;
	float: left;
}
.marketing-slider {
	max-width: 1170px;
	margin: auto;
}
.marketing-slider__viewport {
	display: table;
	position: relative;
	overflow: hidden;
	user-select: none;
}
.marketing-slider__slidewrapper {
	position: relative;
	width: calc(100% * 2);
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	transition: 1s;
  transition-timing-function: ease-in-out;
}
.marketiong-slider__item {
	// width: calc(100% / 2);
	list-style: none;
	display: inline;
	float: left;
}

.marketing-slider__button {
	width: 50px;
	height: 50px;
	border: none;
	background-color: transparent;
	padding: 0;
	text-decoration: none;
	position: absolute;
	transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
	cursor: pointer;
	transition: .25s;
}
.marketing-slider__prev-button {
	left: 23px;
	top: 50%;
	border-top: 3px solid #42ffff;
	border-left: 3px solid #42ffff;
}
.marketing-slider__next-button {
	right: 23px;
	top: 50%;
	border-bottom: 3px solid #42ffff;
	border-right: 3px solid #42ffff;
}

/***** marketing END*****/

/***** persons *****/

.persons {
	width: 100%;
	background-color: #1a254c;
	transition: .5s;

}
.persons__title-outer {
	// width: 80%;
	// margin: auto;
}
.persons__title-inner {
	font-family: roboto-regular;
	font-size: 40px;
	color: #fff;
	padding: 45px 0;
}
.persons__gallery {
  max-width: 840px;
  min-height: 870px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  align-content: space-between;
  margin: auto;
	position: relative;
	transition: 25s;
}
.persons__gallery-item{
	width: 360px;
	height: 375px;
	background-color: #ccc;
	display: grid;
	grid-template-areas: "persons__gallery-photo persons__gallery-photo"
											 "persons__gallery-description  persons__gallery-button";
	grid-template-columns: 65% 35%;
	grid-template-rows: 63% 37%;
	transition: 25s;
}
.persons__gallery-photo {
	grid-area: persons__gallery-photo;
	background-repeat: no-repeat;
	background-size: contain;
}
.persons__gallery-person-1 {
	background-image: url("../image/person1.png");
	background-size: cover;
}
.persons__gallery-person-2{
	background-image: url("../image/person2.png");
	background-size: cover;
}
.persons__gallery-person-3 {
	background-image: url("../image/person3.png");
	background-size: cover;
}
.persons__gallery-person-4 {
	background-image: url("../image/person4.png");
	background-size: cover;
}
.persons__gallery-description {
	grid-area: persons__gallery-description;
	background-color: #213064;
	padding: 15px;
	position: relative
}
.persons__gallery-button {
	grid-area: persons__gallery-button;
	background-color: #31499b;
}
.persons__gallery-description-title {
	font-family: roboto-regular;
	padding-bottom: 10px;
	font-size: 20px;
	color: #42ffff;
}
.persons__gallery-description-text {
	position: absolute;
	top: 50px;
	left: 10px;
	font-family: roboto-regular;
	font-size: 18px;
	color: #fff;
}
.persons__gallery-button-outer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #31499b;
	cursor: pointer;
}
.persons__gallery-button-inner {
	width: 35px;
	height: 35px;
	background: transparent;
	border: none;
	transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
	cursor: pointer;
	transition: .25s;
}

//  persons-information

.persons-gallery__person-information {
	background: #ccc;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #213064;
	// z-index: 100;
	transition: .25s;
}
.person-gallery-information {
	position: relative;
	height: 100%;
	display: grid;  
	grid-template-areas: "person-information__photo person-information__description"
												"person-information__name person-information__description"
												"person-information__return person-information__return";
  grid-template-rows: 65% 20% 15%;
  grid-template-columns: 45% 55%;
	transition: 25s;
}
.person-information__photo {
	grid-area: person-information__photo;
}
.person-information__photo-1{
	background-image: url("../image/Lourens de Beer.png"); 	
	background-size: cover;
}
.person-information__photo-2{
	background-image: url("../image/Iurii-Kovalskyi.png"); 	
	background-size: cover;
}
.person-information__photo-4{
	background-image: url("../image/Ihor-Bohatyrov.png"); 	
	background-size: cover;
}
.person-information__name {
	position: relative;
	grid-area: person-information__name;
	padding: 49px 54px;
}
.persons__gallery-description-title, .persons__gallery-description-text {
	position: unset;
}
.person-information__description {
	grid-area: person-information__description;
	padding: 20px;
}
.person-information__description-text {
	position: relative;
	font-family: roboto-regular;
	font-size: 18px;
	color: #fff;
}
.person-information__return {
	grid-area: person-information__return;
	position: relative;
	background-color: #31499b;
	cursor: pointer;
	transition: 25s;
}
.person-information__return-button {
	position: absolute;
	top: 40%;
	left: 80px;
	background: transparent;
	border: none;
	text-decoration: none;
	width: 35px;
	height: 35px;
	transform: rotate(45deg);
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	cursor: pointer;
	transition: .25s;
}

/***** persons END*****/

/***** feedback *****/

.feedback {
	background: linear-gradient(180deg, #1a254c, #253670);
	padding: 50px 0;
}
.feedback-outer {
	display: flex;
}
.feedback-write-us__list-outer {
	margin: 0;
}
.feedback-write-us__list-inner {
	font-family: roboto-regular;
	font-size: 20px;
	color: #fff;
	list-style: none;
	padding: 10px 0;
}
.feedback-write-us__list-outer {
	margin: 50px 0;
}
.feedback__write-us{
	width: 50%;
}
.feedback-write-us__title {
	font-family: roboto-regular;
	font-size: 40px;
	color: #fff;
}
.feedback-write-us__list-title {
	font-family: roboto-black;
}
.feedback-write-us__list-number,
.feedback-write-us__list-navigation {
	position: relative;
}
.feedback-write-us__list-image {
	position: absolute;
	left: -40px;
}
// form
.feedback__form {
	width: 50%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 65px;
}
.feedback__form-title {
	font-family: roboto-black;
	font-size: 40px;
	color: #1a254c;
}
.feedback__form-button {
	font-family: roboto-black;
	font-size: 30px;
	color: #fff;
	background-color: #1a254c;
	border-radius: 40px;
	padding: 15px 55px;
	border: none;
	cursor: pointer;
	transition: .25s;
}
.feedback__form-input-1 , 
.feedback__form-input-2 {
	width: 100%;
	padding: 10px;
	margin: 20px 0;
	border: 1px solid #1a254c;
}
.feedback__form-input-3 {
	width: 100%;
	height: 220px;
	padding: 10px;
	margin: 20px 0;
	border: 1px solid #1a254c;
}

/***** feedback END*****/
/***** footer *****/
footer {
	background-color: #253670;
	border-top: solid 1px #3f5a92;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}
.footer__copyright-text {
	font-family: roboto-regular;
	font-size: 18px;
	color: #308ca8;
}
.footer__social-list {
	display: inline-block;
	list-style: none;
}
.footer__social-list {
	width: 30px;
	height: 27px;
	overflow: hidden;
}
.footer__social-icons-1 {background-position-x: 0px;}
.footer__social-icons-2 {transform: translateX(-35px);}
.footer__social-icons-3 {transform: translateX(-69px);}
.footer__social-icons-4 {transform: translateX(-104px);}